<!-- Sidebar -->
<div id="sidebar-wrapper" >
<div class="row">

      <div class="col-sm-8 col-md-8">
          <a class="btn btn-primary" href="#main">
              Store
          </a>
          <a class="btn btn-primary" href="#stats">
              Stats
          </a>
      </div>
    <div class="col-sm-8 col-md-8">

      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">Ordre</a></li>
        <li id="order-item" ng-repeat="c in cart track by $index">{{ c.name }}<span ng-click="removeFromCart($index)" class="glyphicon glyphicon-remove"></span></li>
        <hr>
        <li id="order-total">Total: {{ totalSum }} kroner</li>
        <div>
        <button ng-class="{ 'active' : paymentMethod == 'kontant' }"  class="btn btn-primary" ng-click="setPaymentMethod('kontant')">Kontant</button>
        <button ng-class="{ 'active' : paymentMethod == 'kort' }" class="btn btn-primary" ng-click="setPaymentMethod('kort')">Kort</button>
        <button ng-class="{ 'active' : paymentMethod == 'crew' }"  class="btn btn-primary" ng-click="setPaymentMethod('crew')">Crew</button>
        </div>
        <div>
        <button class="btn btn-primary" ng-click="submitOrder()">Legg inn ordre</button>
        </div>
        <li><br></li>
        <li id="order-item">
            <p>Gatepoeng:</p>
            <p>{{ lastCrewMemberName }}: {{ lastCrewMemberCredit }}</p>
        </li>  
      </ul>
    </div>
<!--    
    <div class="col-md-1">
    </div>
-->    
</div>
</div>

<!-- Page content -->
<div id="page-content-wrapper">
  <div class="content-header">
    <h1>
      dfekt LAN POS
    </h1>
  </div>
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-12">
          <div >
              <button ng-class="{ 'active' : itemGroup == '' }" id="Alt" ng-click="setItemGroup('')" class="btn btn-primary">Alt</button>
              <button ng-repeat="group in itemGroups" ng-class="{ 'active' : itemGroup == group.resource_uri }" id="{{ group.name }}" ng-click="setItemGroup(group.resource_uri)" class="btn btn-primary">{{ group.name }}</button>
          </div>
          <hr>
          <div ng-repeat="item in items | orderBy:'name' | filter:itemGroup " class="col-xs-6 col-sm-3" id="{{ item.group }}">
              <div class="panel panel-primary" ng-click="addToCart(item)">
                  <div class="panel-heading">
                      <h3 class="panel-title">{{ item.name }}</h3>
                  </div>
                  <div class="panel-body">
                      {{ item.price }} kroner
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

