<!-- Sidebar -->
<div id="sidebar-wrapper" >
<div class="row">

      <div class="col-sm-8 col-md-8">
          <a class="btn btn-primary" href="#main">
              Store
          </a>
          <a class="btn btn-primary" href="#stats">
              Stats
          </a>
      </div>
    <div class="col-sm-8 col-md-8">

      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#stats">Stats</a></li>
        <li id="order-item" ng-click="setDateInterval(1)">24 timer</li>
        <li id="order-item" ng-click="setDateInterval(2)">48 timer</li>
        <li id="order-item" ng-click="setDateInterval(3)">72 timer</li>
        <li id="order-item" ng-click="setDateInterval(4)">96 timer</li>
        <li id="order-item" ng-click="setDateInterval(7)">1 uke</li>
        <li id="order-item" ng-click="setDateInterval(14)">2 uke</li>
        <li id="order-item" ng-click="setDateInterval(99*99*99)">Alt</li>
      </ul>
    </div>
<!--    
    <div class="col-md-1">
    </div>
-->    
</div>
</div>

<!-- Page content -->
<div id="page-content-wrapper">
  <div class="content-header">
    <h1>
      dfekt LAN POS
    </h1>
  </div>
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Betalingsmetode</th>
                <th>Total omsettning</th>
            </tr>
            <tr>
                <td>Kontant</td>
                <td>{{ totCash }} kroner</td>
            </tr>
            <tr>
                <td>Kort</td>
                <td>{{ totCard }} kroner</td>
            </tr>
            <tr>
                <td>Crew</td>
                <td>{{ totCrew }} kroner</td>
            </tr>
            <tr>
                <th>Totalt salg</th>
                <th>{{ totalSum }} kroner</th>
            </tr>
            <tr>
                <th>Totalt salg u/crew</th>
                <th>{{ totalSumWithoutCrew }} kroner</th>
            </tr>
        </table>
        <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Produkt</th>
                    <th>Antall solgt</th>
                </tr>
                <tr ng-repeat="(product, amount) in soldProducts">
                    <td>{{ product }}</td>
                    <td>{{ amount }}</td>
                </tr>
            </table>
        </div>
     </div>
  </div>
</div>
